* {
    padding: 0;
    margin: 0;
    color: grey;
}

html,
body {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    font-family: Cascadia Code, Courier New, Courier, monospace;
}

.page {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 720px;
    min-height: 100vh;
    gap: 20px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

p {
    padding: 20px;
}

h2 {
    color: #333;
}

input[type="file"] {
    margin-bottom: 10px;
}

.canvas-container {
    max-height: 400px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 400px;
}

#canvas {
    display: block;
}

.color-swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    vertical-align: middle;
    margin-left: 5px;
}

#output {
    margin-top: 10px;
    color: grey;
    background-color: #ffffff10;
    width: 100%;
    max-width: 380px;
    padding: 10px;
    border: 1px solid #ffffff20;
}


#imageUpload {
    padding: 10px 20px;
    background: #ffffff10;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: inline;
    width: 50%;
    max-width: 320px;
    height: 20px;
    text-align: center;
}

.options {
    display: flex;
    gap: 20px;
    padding: 0px 20px;
}

#edgeMode {
    height: 40px;
    background: #ffffff10;
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    width: 55%;
    max-width: 320px;
    color: white;
    cursor: pointer;
}

#edgeMode:hover,
#imageUpload:hover {
    background: #ffffff20;
}
#imageUpload::-webkit-file-upload-button {
    visibility: hidden;
}
#imageUpload::before {
    content: 'Загрузить файл';
}