* {
    padding: 0;
    margin: 0;
    color: grey;
}

html,
body {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    font-family: Cascadia Code, Courier New, Courier, monospace;
}

.page {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 720px;
    min-height: 100vh;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 10px;
}


input[type="file"] {
    margin-bottom: 10px;
}

.canvas-container {
    max-height: 800px;
    overflow: auto;
    max-width: 716px;
    flex: 1;
    margin-bottom: 20px;
    width: calc(100vw);
    border: 2px solid #551a8b80;
}

#canvas {
    display: block;
}

.color-swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    vertical-align: middle;
    margin-left: 5px;
}

#output {
    color: grey;
    width: calc(100% - 20px);
    padding: 10px 10px;
    min-height: 150px;
    overflow: auto;
    max-height: 150px;
}

header {
    display: flex;
    width: calc(100% - 4px);
    border: 2px solid #551a8b80;
    background-color: #ffffff10;
    flex-direction: column;
    margin-top: 20px;
}

.options {
    display: flex;
    padding: 5px 10px;
    gap: 10px;
    width: calc(100% - 20px);
    justify-content: right;
}


#edgeMode {
    height: 35px;
    background-color: rgb(37, 37, 37);
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

#edgeMode:hover,
#imageUpload:hover,
#colorPicker:hover
#fullscreenImage:hover {
    background: #ffffff30;
}
#Upload {
display: none;
}
#imageUpload, #colorPicker, #fullscreenImage {
    display: flex;
    background-color: rgb(37, 37, 37);
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#fullscreenImage.active,
#colorPicker.active {
        background-color: rgb(102, 102, 102);
}

.overflow {
  overflow: auto;
  background: transparent;
  scrollbar-width: thin;
  scrollbar-color: #551a8b transparent;
}

.overflow::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.overflow::-webkit-scrollbar-track {
  background: transparent;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: #551a8b;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.overflow::-webkit-scrollbar-thumb:hover {
  background-color: #5c1f96;
}
