* {
    padding: 0;
    margin: 0;
    color: grey;
}

html,
body {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    font-family: Cascadia Code, Courier New, Courier, monospace;
}

.page {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 720px;
    min-height: 100vh;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 10px;
}


input[type="file"] {
    margin-bottom: 10px;
}

.canvas-container {
    max-height: 800px;
    overflow: auto;
    max-width: 400px;
    height: 100%;
    width: 100%;
}

#canvas {
    display: block;
}

.color-swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    vertical-align: middle;
    margin-left: 5px;
}

#output {
    color: grey;
    background-color: #ffffff10;
    width: calc(100% - 40px);
    max-width: 380px;
    padding: 10px;
    border: 1px solid #ffffff20;
    min-height: 30px;
    margin-top: 20px;
}


#imageUpload {
    background: #ffffff10;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: inline;
    width: 100%;
    height: 40px;
    text-align: center;
}

.options {
    display: flex;
    padding: 0px 20px;
    gap: 10px;
    width: calc(100% - 40px);
    max-width: 400px;
}

#edgeMode, button {
    height: 40px;
    background: #ffffff10;
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    color: white;
    cursor: pointer;
}

#edgeMode:hover,
#imageUpload:hover {
    background: #ffffff20;
}
#Upload {
display: none;
}


#zoomIn, #zoomOut {
    display: flex;
    background-color: rgb(56, 56, 56);
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}