* {
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    font-family: Cascadia Code,Courier New,Courier,monospace;
}

.page {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 720px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: #ffffff10;
    box-shadow: 0px 0px 2px grey;
    width: calc(100% - 22px);
    margin: 20px 5px 5px 10px;
    border-radius: 10px;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
    width: calc(100% - 20px);
    max-width: 700px;
    gap: 5px;
    margin: 0px 10px;
    margin-top: 20px;
    background-color: #ffffff10;
    border: 1px solid #ffffff20;
    justify-items: center;
    border-radius: 10px;
}

.tab {
    height: 25px;
    width: 40px;
    color: grey;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tab:hover {
    color: white;
}

#filterInput {
    display: flex;
    background-color: #ffffff10;
    width: calc(100% - 42px);
    margin: 5px 10px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ffffff20;
    padding: 0px 10px;
    margin-top: 20px;
    color: white;
}

li {
    height: 40px;
    display: flex;
    cursor: pointer;
    justify-content: star;
    align-items: center;
    color: grey;
    font-size: 14px;
    width: calc(100% - 10px);
    padding-right: 10px;
    gap: 2px;
}

li p {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1;
}

.giftname {
    display: flex;
    flex:1;
}

.giftid {
    opacity: 0.5;
}

li:hover {
    color: white;
}

span {
    cursor: pointer;
}

a {
    color: rgba(0, 140, 255, 0.90);
    text-decoration: none;
}

.info, .devinfo {
    display: block;
    margin: 10px;
    gap: 5px;
    font-size: 13px;
    color: grey;
    width: calc(100% - 42px);
    text-align: center;
}
 
.info {
    padding-bottom: 20px;
}