* {
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    font-family: Cascadia Code,Courier New,Courier,monospace;
}

.page {
    display: flex;
    max-width: 520px;
    width: 90%;
    height: 100%;
    max-height: 700px;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 10px;
    background-color: #ffffff05;
    border-radius: 10px;
    border: 2px solid #7e57c280;
}


.scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll ::-webkit-scrollbar {
    display: none;
}

.scroll ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.scroll ::-webkit-scrollbar-track {
    background: transparent;
}


ul {
    display: flex;
    flex-direction: column;
    background-color: #ffffff10;
    width: calc(100%);
    margin: 20px 0px 0px 10px;
    gap: 2px;
}

#giftList li:nth-child(odd) {
  background-color: #ffffff05;
}


.filterContainer {
    display: flex;
    width: calc(90% - 22px);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

#filterInput {
    display: flex;
    background-color: #ffffff10;
    height: 35px;
    border-radius: 10px;
    outline: none;
    padding: 0px 10px;
    color: white;
    border: 1px solid #ffffff20;
    flex: 1;
}

#az-za-list-sort-button {
    display: flex;
    width: 50px;
    height: 37px;
    border: 1px solid #ffffff20;
    background-color: #ffffff10;
    color: grey;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
    width: calc(90% - 20px);
    gap: 5px;
    margin: 0px 10px;
    margin-top: 20px;
    background-color: #ffffff10;
    border: 1px solid #ffffff20;
    justify-items: center;
    border-radius: 10px;
}

.tab {
    height: 25px;
    width: 40px;
    color: grey;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#az-za-list-sort-button:hover,
.tab:hover {
    color: white;
}

li {
    min-height: 70px;
    display: flex;
    cursor: pointer;
    justify-content: star;
    align-items: center;
    color: grey;
    font-size: 14px;
    width: calc(100% - 10px);
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li p {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1;
}

.giftname {
    display: flex;
    flex:1;
}

.giftid {
    opacity: 0.5;
}

 .giftaddress {
    opacity: 0.5;
    word-wrap: break-word;
    word-break: break-all;
    display: flex;
    width: 90%;
}

.giftaddress:hover {
    opacity: 0.9;
}


span {
    cursor: pointer;
}

a {
    color: rgba(0, 140, 255, 0.90);
    text-decoration: none;
}

.mcount {
    opacity: 0.5;
}

@media (max-width: 768px) {

    .page {
        max-height: 100vh;
        max-width: 100vw;
        width: 100%;
        border-radius: 0;
        border: none;
    }
}