* {
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;

    font-family: Cascadia Code, Courier New, Courier, monospace;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;

}

.page {
    height: 100%;
    width: calc(100% - 20px);
    max-height: 100vh;
    max-width: 720px;
    padding: 0px 10px;
}

.empty {
    display: flex;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#canvas {
    width: calc(100vw - 40px);
    height: 100vw;
    max-width: 700px;
    display: flex;
    max-height: 720px;
    margin-bottom: 15px;
    background-color: #ffffff20;
    border: 1px solid #ffffff20;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}


.options {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 140, 255, 0.90);
    border-radius: 5px;
}

span {
    cursor: pointer;
}

a {
    color: rgba(0, 140, 255, 0.90);
}

.warning {
    display: flex;
    gap: 7px;
    justify-content: center;
    color: grey;
    background-color: #ffffff20;
    border: 1px solid #ffffff20;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px;
    width: calc(100% - 20px);
}


.warning span {
    display: flex;
    color: rgba(0, 140, 255, 0.90);
}


.options span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
}

.options span:hover {
    background-color: rgb(0, 140, 255);
}